main>.container {
    background-color: #021F31;
    padding: 60px 15px 0;
}

.navbar{
    background-color: #024561;
}
.footer{
    background-color: #024561;
}
body{
    background-color: #021F31;
}

.Fizz {
    color: rebeccapurple;
}

.Buzz {
    color: darkgoldenrod;
}

.FizzBuzz {
    color: dimgray;
}